<!DOCTYPE html>
<html>
<head>
  <title>GardenBed</title>
  <%= stylesheet_link_tag    "garden_bed/application", media: "all" %>
  <%= javascript_include_tag "garden_bed/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
